# PyInstaller build directories
dist/
build/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Test files
.pytest_cache/

# Environment files
.env
.venv
env/
venv/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db 
