[Desktop Entry]
Version=1.0
Type=Application
Name=Lotti
GenericName=Smart Journal
Comment=Achieve your goals and keep your data private with Lotti
Exec=lotti
Icon=com.matthiasn.lotti
Terminal=false
StartupNotify=true
Categories=Office;Productivity;
Keywords=journal;diary;goals;habits;productivity;
MimeType=text/plain;
StartupWMClass=Lotti
X-GNOME-UsesNotifications=true 